body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.weatherApp {
  max-width: 850px;
  padding: 12px;
  margin: 10px auto;
   background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);  
  border: #7c7c7c solid 1px;
  border-radius: 10px;
}

.row {
  padding: 24px;
  margin: 10px auto;
}

.largeIcon {
  width: 100px;
}

.iconTemp {
  margin: 0;
  padding: 0;
  text-align: left;
  line-height: 20px;
}

.datePlace {
  margin: 0 auto;
  text-align: right;
  line-height: 20px;
}

h1 {
  color: black;
  line-height: 14px;
  font-size: 30px;
  text-align: right;
}

.temp {
  font-size: 51px;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
  display: block;
}

li {
  font-size: 14px;
  color: grey;
  list-style-type: none;
  margin-left: 20px;
}

button {
  width: 110px;
}
